body{
    background-image:url("../assets/img/bg.jpg");
    background: size 15px;%;
    padding:10px;

    
}
.header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;

}
.inputBox{
    justify-content: center;
    padding: 40px;
    margin-top: 40px;
}
.inputBox input{
    width: 80%;
    height: 40px;
}
.Buttons{
display: flex;
justify-content: space-evenly;
margin-top: 50;
}
.tables {
    background-color:azure;
    border-radius: 20px;
    min-height: 80%;
    min-height:40px ;

}
.div searchForm {
 background-color: black;
 color:white;
}
